@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter&display=swap');
@import "tailwindcss";
body {
  /* background-color: #121212; */
  color: white;
  cursor: none;
  font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
}
@keyframes lineSwipe {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: scaleX(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

.animate-lineSwipe {
  animation: lineSwipe 3s ease-in-out infinite;
  transform-origin: center;
}
@keyframes fadeGrid {
  0% {
    opacity: 0;
    transform: scale(1.1);
    filter: blur(2px);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
    filter: blur(0);
  }
}

.animate-fadeGrid {
  animation: fadeGrid 1.5s ease-out forwards;
}
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}
body {
  background-color: #000;
  overflow-x: hidden;
}
